@use 'base';

.dashboard__userInfo {
  position: absolute;
  right: 40px;
  top: 4vh;
  color: white;
  font-weight: lighter;
}

.dashboard__mainSection {
  @extend %d-flex-c;
  padding: 2em 8em;
  width: 100%;
  height: 88vh;
  justify-content: flex-start;
  align-items: flex-start;
}

.dashboard__searchPanel {
  @extend %d-flex-r;
  width: 100%;
  height: 8vh;
  justify-content: flex-end;
}
